.container{
     width: 100%;
     font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
}
h1{
    margin-bottom: 2em;
    color: #ffffff;
}
.row_main{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #b5a397;
    min-height: 500px;
}
.row_main img{
     padding-top: 8em;
}
.row_o_mnie{
    padding-bottom: 10em;
    background: #30231d;
    color: #f6f1ed;
}
.row_o_mnie p{
    font-size: 25px;
}
.row_oferta{
    color: #ede9ce;
    padding-bottom: 10em;
    background: #935347;
}
.caption h3{
    font-size: 2.2em;
}
.caption p{
    font-size: 1.2em;
}
.row_portfolio{
    color: #677077;
    padding-bottom: 10em;
    background: #677077;

}
.portfolio-box {
    position:relative;
    display:block;
    margin-bottom: 15px;
    margin-top: 15px;
}
.portfolio-box .portfolio-box-caption {
    color:#b5a397;
    opacity:0;
    display:block;
    background:#283593;
    position:absolute;
    bottom:0;
    text-align:center;
    width:100%;
    height:100%;
    transition:all .35s;
}
.btn-default.active,.btn-default:active,.btn-primary.active,.btn-primary:active,.open>.dropdown-toggle.btn-default,.open>.dropdown-toggle.btn-primary {
    background-image:none
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width:100%;
    text-align:center;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family:'Open Sans','Helvetica Neue',Arial,sans-serif;
    padding:0 15px
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform:uppercase;
    font-weight:600;
    font-size:14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size:18px;
}
.portfolio-box:hover .portfolio-box-caption {
    opacity:1;
}
.portfolio-box:focus {
    outline:0;
} 
.row_skills{
     padding-bottom: 10em;
     background: #262216;
}
.col_skills{
  margin: 0 auto;
}
.header {
  text-align: center;
  width: 100%;
  margin: auto;
  height: 25px;
}

.pentagon {
  width: 300px;
  height: 300px;
  margin: auto;
  padding: 3px 3px 28px 3px;
}
.row_social{
    background:  #263238;
    min-height: 50px;
    padding-top: 8px;

}
.thumbnail{
    background: none;
    border: none;
    color: #ffffff;
}
.thumbnail .caption{
    color: #b5a397;
}
.col_form{
    color: #f6f1ed;
}
.row_form{
    padding-top: 40px;
    padding-bottom: 10em;
}
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */
     
     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
     color: #ffffff;
 }

/*
    Multicoloured Hover Variations
*/
 
 #social-fb:hover {
     color: #3B5998;
 }
 #social-bb:hover {
     color: #274970;
 }
 #social-em:hover {
     color: #f39c12;
 }
.fb a{
    background-image: url(../src/pic/facebook-small.png);
    display: block;
    height: 32px;
    width: 32px;
    text-indent: 100%;
    overflow: hidden;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
}
.fb a:hover{
   background-position: 0 -32px;     
}
.bb a{
    background-image: url(../src/pic/bitbucket.png);
    display: block;
    height: 32px;
    width: 32px;
    text-indent: 100%;
    overflow: hidden;
    -webkit-transition: all 350ms;
    -moz-transition: all 350ms;
    -o-transition: all 350ms;
    transition: all 350ms;
}
.bb a:hover{
   background-position: 0 -32px;     
}
@media(min-width:768px) {
    .navbar {
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }
    }
    @media(max-width:1200px) {
   .col_skills{
        margin: 0 auto;
        display: block; 
    }

    }
@media(max-width:768px) {
.portfolio-box:hover .portfolio-box-caption {
    opacity:0;
}
}
@media(min-width:1200px) {
.bb{
    padding-left: 60px;
}
    .col_skills{
        margin: 0 auto;
        display: inline-flex; 
    }
}
.top-nav-collapse {
    padding-top: 20px;
    
}

